* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.topfixed{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:#f8afa6;
	border-bottom-style: solid;
	border-color: #f79489;
}

li, a, button{
	font-family: Century, verdana, sans-serif;
	font-size: 22px;
	color: #f79489;
	text-decoration: none;

}

header{

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #fadcd9;
}


.logo{
	cursor: pointer;
}

.nav__links{
	list-style: none;

}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;

}

.nav__links li a{
	transition: all 0.3s ease 0s;

}

.nav__links li a:hover {
	color: #f8afa6;
	text-decoration: underline;

}

button{
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: rgba(0,136,169,0.8);
}


